#foo {
    -skrollr-animation-name: animation1;
}

@-skrollr-keyframes animation1 {
    0 {transform: rotate(0deg);}
    200 {transform: rotate(360deg);}
}

html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
}

h1 {
    font-size: 137px;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: normal;
}

h5 {
    font-size: 17px;
}

p {
    font-size: 19px;
}

span {
    color: #2980b9;
}

#features, #guarantee, #accountants, #customers {
    background-color: #2980b9;
    color: #fff;
}

#hero .btn,
.get-started-btn {
	display: inline-block;
	padding: 23px 85px;
	margin-bottom: 0;
	font-size: 35px;
	font-weight: 900;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background: #2980b9;
	border: 2px solid #164868;
	color: #fff;
	border-radius: 60px;
	text-transform: uppercase;
    transition: all 0.3s;
}

#hero .btn:hover,
.get-started-btn:hover {
    background: #164868;
    border: 2px solid #164868;
    color: #fff;
}

header {
    margin-bottom: 110px;
}

.navbar {
    border-radius: 0;
    border: 0px;
}

.navbar-inverse {
    background-color: #2980b9;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 30px 15px;
    transition: all 0.3s;
    height: 100%;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
    font-size: 20px;
    padding: 30px 20px;
    transition: all 0.2s;
}

.start-now-btn {
    margin: 20px 20px 16px 20px;
}

.navbar-inverse .navbar-nav > li.start-now-btn > a {
    padding: 10px 36px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
	color: #fff;
	background-color: #164868;
}

.navbar-inverse .navbar-nav > li.start-now-btn > a:focus,
.navbar-inverse .navbar-nav > li.start-now-btn > a:hover {
	color: #fff;
	background-color: #164868;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
	color: #fff;
	background-color: #164868;
}

.navbar-inverse .navbar-toggle {
    border-color: hsl(203, 65%, 25%);
    transition: all .3s;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
	background-color: hsl(203, 65%, 25%);
}

.icon-bar {
    transition: all 0.3s ease-in-out;
    margin-top: 0;
}

.bar-mid-x {
    transform: scaleX(0);
}

.bar-top-x {
    transform: rotate(45deg);
    margin-top: 6px;
}

.navbar-toggle .icon-bar + .icon-bar.bar-bot-x {
    transform: rotate(-45deg);
	margin-top: -8px;
    margin-bottom: 6px;
}


/* === HERO SECTION === */

#hero {
    margin-bottom: 150px;
}

#hero h2 {
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    position: relative;
    z-index: 2;
}

#hero img {
	margin-top: -100px;
	margin-left: 34px;
}

#hero h1 {
    margin-top: -16px;
    margin-bottom: 34px;
}

#hero h3 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: normal;
    margin-bottom: 56px;
}

#table {
    height: 627px;
    margin-bottom: 56px;
    background: url(../img/table-with-objects.jpg) center center no-repeat;
    background-size: contain;
}

/* === end hero section === */


/* === HOURS SECTION === */

#hours {
    margin-bottom: 56px;
}

#hours h2 {
    text-align: left;
    font-size: 35px;
    margin-top: 64px;
    margin-bottom: -40px;
}

#hours img {
}

/* === end hours section === */


/* === FEATURES SECTION === */

#features {
    padding-top: 70px;
    padding-bottom: 90px;
    height: 100%;
}

#features h2 {
    margin-bottom: 90px;
    line-height: 1.3;
}

#features h3 {
    text-align: left;
    margin-bottom: 30px;
}

/* === end features section === */


/* === PRICING SECTION === */

#pricing {
    padding-top: 86px;
    padding-bottom: 86px;
}

#pricing h2 {
    margin-bottom: 86px;
}

#pricing h3 {
    text-align: left;
    margin-bottom: 36px;
}

#pricing .price-container {
    position: relative;
    margin-bottom: 230px;
}

#pricing .price {
    position: absolute;
    top: 70px;
    font-size: 100px;
    font-weight: 900;
}

#pricing .price span {
    text-transform: lowercase;
    font-size: 36px;
    color: #333333;
}

#pricing .price small {
    font-size: 16px;
    text-transform: lowercase;
	top: 100px;
	position: absolute;
	left: 180px;
}

#pricing .btn-price {
	display: inline-block;
	padding: 4px 18px;
	margin-bottom: 0;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	background: transparent;
	border: 2px solid #2980b9;
	color: #2980b9;
	border-radius: 60px;
	text-transform: uppercase;
    transition: all 0.3s;
    margin-right: 18px;
}

#pricing .btn-price:active,
#pricing .btn-price:hover {
    background: #2980b9;
    color: #fff;
}

#pricing .btn-price.active {
    background: #2980b9;
    color: #fff;
}

#pricing ul li {
    font-size: 21px;
    padding-bottom: 5px;
}

#pricing p {
    font-size: 21px;
    margin: 0 0 5px 20px;
}

/* === end pricing section === */


/* === TEAM SECTION === */

#team {
    padding-top: 76px;
    padding-bottom: 76px;
}

#team h2 {
    margin-bottom: 54px;
}

#team h3 {
    text-align: left;
}

#team .team-member {
    display: block;
    margin: 0 auto;
}

#team hr {
    margin-top: 0;
    border: 1px solid #2980b9;
}

#team .intro-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

/* === end team section === */


/* === ACCOUNTANTS SECTION === */

#guarantee, #accountants {
    padding: 46px 0;
}

#accountants .get-started-btn {
    background: #2980b9;
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    color: #fff;
}

#accountants .get-started-btn:hover {
    background: #164868;
    border: 2px solid #fff;
    color: #fff;
}

#accountants h2 {
    margin-bottom: 64px;
}

/* === end accountants section === */


/* === PACKAGE SECTION === */

#package h2 {
    margin-top: 90px;
    margin-bottom: 110px;
}

#package h3,
#package span {
    display: inline-block;
}

#package span {
    margin-right: 20px;
    font-size: 60px;
}

#package p {
    margin-bottom: 110px;
}

#package .get-started-btn {
    margin: 110px auto 140px;
    display: block;
}

/* === end package section === */


/* === CUSTOMERS SECTION === */

#customers {
    background: url(../img/customer-bg.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 110px;
}

#customers h2 {
    font-size: 32px;
    text-align: left;
    margin-bottom: 30px;
}

#customers img {
    display: block;
    margin: 0 auto;
}

#customers a, #customers a span {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
}

/* === end customers section === */


/* === FOOTER === */

footer {
    background: #164868;
    color: #fff;
    padding-top: 58px;
    padding-bottom: 120px;
    position: relative;
}

footer p {
    font-size: 16px;
}

footer ul {
    list-style-type: none;
}

footer .footer-links > li {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

footer .footer-links > li:first-child {
    margin-left: 0;
}

footer h5 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

footer .footer-links li ul li {
    font-size: 16px;
    margin-bottom: 8px;
}

footer h6 {
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-size: 14px;
}

footer h6 span {
    margin-left: 62px;
    color: #fff;
}

/* === end footer === */


/* --- BLOG-SPECIFIC STYLES --- */

#blog-title-hero {
    background: url(../img/customer-bg.jpg) 50% -130px repeat;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -60px;
    margin-bottom: 20px;
}

#blog {
    margin-bottom: 40px;
}

.blog-title {
    color: #fff;
    font-size: 36px;
}

.blog-post-wrapper {
	padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post-title {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 0;
}

#blog ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.post-info {
    margin-bottom: 16px;
}

.post-info ul li {
    display: inline;
    margin-right: 10px;
}

.post-info ul li:last-child {
    display: block;
}

.post-excerpt {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.blog-post-wrapper a {
    font-size: 16px;
}

#blog hr {
    margin-top: 0;
    border: 1px solid #2980b9;
}

.blog-post-wrapper:last-child {
    border-bottom: 2px solid #2980b9;
    padding-bottom: 40px;
}

.search-form {
    margin-bottom: 20px;
}

.search-form .form-control,
.search-form button {
    display: inline-block;
}

.search-form .form-control {
    width: 86%;
    border-radius: 4px 0 0 4px;
    border-right: none;
    vertical-align: middle;
}

.search-form button {
    border-radius: 0 4px 4px 0;
    transition: all 0.3s;
}

.search-form button span {
    color: #fff;
}

.latest-posts, .categories {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

#blog p {
    font-size: 16px;
}

.comment-wrapper {
	border-bottom: 2px solid #2980b9;
	margin-bottom: 20px;
    padding-top: 20px;
	padding-bottom: 40px;
}

.btn-post-comment {
    margin-top: 10px;
    transition: all 0.2s;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 16px;
}

/* --- end blog-specific styles --- */


/* Contact Form
 * ==================================== */

#section-contact-form {
	padding-right: 10px;
}

.contact-form-title {
	color: HSL(0, 0%, 20%);
	margin-bottom: 40px;
}

#section-contact-form .form-control,
#section-contact-form textarea {
	background-color: transparent;
	margin-bottom: 20px;
	color: #282828;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #2980b9;
	border-left: 2px solid #2980b9;
	padding: 6px 12px;
	font-size: 14px;
	transition: all 0.3s;
}

#section-contact-form .form-control:focus,
#section-contact-form textarea:focus {
	box-shadow: none;
	border-color: #164868;
}

.btn-send {
	margin-bottom: 50px;
	border-radius: 0;
	background-color: #2980b9;
	color: #fff;
	transition: all 0.3s;
}

.btn-send:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
	color: #fff;
	background-color: #164868;
}

.btn-lg {
	padding: 8px 50px;
}

.success {
	color: #fff;
	margin-bottom: 50px;
}


/* === MEDIA QUERIES DESKTOP-FIRST === */

/* Large Devices, Wide Screens */
@media screen and ( max-width : 1199px ) {


}

/* Medium Devices, Desktops */
@media screen and ( max-width : 991px ) {


}

/* Small Devices, Tablets */
@media screen and ( max-width : 767px ) {

    ul.navbar-nav {
        text-align: center;
    }
}

@media screen and ( max-width : 568px ) {


}

/* Extra Small Devices, Phones */
@media screen and ( max-width : 480px ) {


}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {


}

/* === end media queries desktop-first === */


/* === MEDIA QUERIES MOBILE-FIRST === */

/* Custom, iPhone Retina */
@media screen and ( min-width : 320px ) and ( max-width : 1199px ) {


    h1 {
        font-size: 74px;
        font-weight: 900;
        text-transform: uppercase;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 26px;
        text-align: center;
    }

    h4 {
        font-size: 20px;
        font-weight: normal;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .navbar-toggle {
        margin-top: 23px;
    }

    header {
        margin-bottom: 60px;
    }

    #pricing .get-started-btn,
    #accountants .get-started-btn,
    #package .get-started-btn {
        font-size: 26px;
        padding: 16px 24px;
        margin: 30px auto 0;
    }

    #package .get-started-btn {
        margin: 110px auto;
    }

    #hero img {
    	margin-top: -82px;
    	margin-left: 34px;
    	width: 228px;
    }

    #hero h2 {
        font-size: 40px;
    }

    #hero h1 {
    	margin-top: 0px;
    }

    #hero h3 {
    	margin-bottom: 40px;
    }

    #hero .btn, .get-started-btn {
    	display: block;
    	padding: 16px 60px;
    	font-size: 30px;
        margin: 0 auto;
    }

    #hero {
        margin-bottom: 50px;
    }

    #table {
        height: 200px;
        margin-bottom: 0;
    }

    #hours {
        margin-bottom: 0;
    }

    #hours h2 {
        font-size: 24px;
    }

    #hours img {
    	width: 50%;
    	display: block;
    	margin: 76px auto;
    }

    #features h2 {
        margin-bottom: 0;
    }

    #features h3 {
        margin-top: 40px;
    	margin-bottom: 20px;
    }

    #pricing h2 {
    	margin-bottom: 50px;
    }

    #pricing h3 {
    	text-align: center;
    }

    #pricing .col-xs-12 {
        text-align: center;
    }

    #pricing ul {
        padding-left: 25px;
    }

    #pricing .btn-price {
    	display: inline-block;
        padding: 4px 28px;
    	margin-bottom: 10px;
    	margin-right: 10px;
    }

    #pricing .price-container {
    	margin-bottom: 180px;
    }

    #pricing .price {
    	top: 20px;
    }

    #pricing p {
    	font-size: 16px;
    	margin: 0 0 5px 10px;
    }

    #pricing ul li {
    	font-size: 16px;
    	padding-bottom: 5px;
    }

    #team h2 {
    	margin-bottom: 36px;
    }

    #team .team-member {
    	width: 60%;
    }

    #team .intro-text {
    	margin-bottom: 40px;
    }

    #team img {
        margin: 30px 0 16px -16px;
    }

    #accountants h2 {
    	margin-bottom: 40px;
    }


    #package span {
    	margin-right: 12px;
    }

    #package h2 {
    	margin: 70px 10px;
        line-height: 1.3;
    }

    #package p {
    	margin-bottom: 50px;
    }

    #customers h2 {
    	font-size: 30px;
    }

    h4 {
    	font-size: 14px;
    }

    #customers a, #customers a span {
    	margin-top: 0px;
    	margin-bottom: 20px;
    }

    footer .footer-links > li {
        margin-left: 0px;
    }

    footer h5 {
    	margin-top: 25px;
    }

    footer .footer-links {
        padding-left: 0;
    }

    footer ul {
    	padding-left: 20px;
    }

    footer .footer-links li ul li {
    	margin-bottom: 6px;
    }

    footer .footer-links > li {
        margin-right: 30px;
    }

    footer h6 {
    	right: 50px;
    }

    #team .phone-640 {
        display: none;
    }

}

@media screen and ( min-width : 320px ) {

    #team .phone-320 {
        display: none;
    }

    #team .team-member {
    	width: 60%;
    }

    .latest-posts h3,
    .categories h3,
    .comment-wrapper h3 {
        text-align: left;
    }
}

@media screen and ( min-width : 480px ) {

    #team .team-member {
    	width: initial;
    }

    #blog-title-hero {
        padding-top: 50px;
    	padding-bottom: 50px;
    }

    .post-info ul li:last-child {
	    display: inline;
    }
}

@media screen and ( min-width : 320px ) and ( max-width : 639px ) {

    #team .phone-320 {
        display: block;
    }

}

@media screen and ( min-width : 360px ) and ( max-width : 991px ) {

    h1 {
    	font-size: 84px;
    }

    #hours h2 {
    	font-size: 26px;
    }

    #team img {
        margin: 30px 0 16px;
    }

    #pricing .get-started-btn,
    #accountants .get-started-btn,
    #package .get-started-btn {
    	font-size: 30px;
    }
}

/* Extra Small Devices, Phones */
@media screen and ( min-width : 480px ) and ( max-width : 991px ) {

    #hero img {
    	width: 60%;
        margin: -50px auto 0;
    }

    h1 {
    	font-size: 104px;
    }

    #table {
    	height: 278px;
    }

    #hours h2 {
    	font-size: 30px;
    }

    #package h2 {
    	margin: 70px 20px;
    }

    #team img {
        margin: 30px 0 16px 64px;
    }

    footer .footer-links > li {
    	margin-right: 0;
    }
}

@media screen and ( min-width : 568px ) and ( max-width : 991px ) {

    #team img {
        margin: 30px 0 16px 108px;
    }

}

@media screen and ( min-width : 640px ) and ( max-width : 991px ) {

    #table {
    	height: 280px;
    }

    #hours img {
    	width: initial;
    }

    #team .team-member {
    	width: initial;
    }

    #team img {
    	margin: 0px 0 16px 0px;
    }

    #team p {
        margin-bottom: 40px;
    }

    #package {
        padding-left: 20px;
    }

}

@media screen and ( min-width : 640px ) {

    #team .phone-640 {
        display: block;
    }

    .blog-title {
        font-size: 40px;
    }
}

/* Small Devices, Tablets */
@media screen and ( min-width : 768px ) and ( max-width : 991px ) {

    .navbar-nav > li {
        margin-right: -2px;
    }
}

@media screen and ( min-width : 768px ) and ( max-width : 1199px ) {

    .navbar-inverse .navbar-nav > li > a {
    	padding: 30px 12px;
    }

    .navbar-inverse .navbar-nav > li.start-now-btn > a {
    	display: inline-block;
    }

    #hero img {
        width: initial;
    }

    #hero h1 {
    	margin-top: -10px;
	    font-size: 88px;
    }

    #table {
    	height: 336px;
    }

    #pricing .get-started-btn,
    #accountants .get-started-btn,
    #package .get-started-btn {
    	font-size: 26px;
    }

    #team img {
    	margin: 0px 0 16px -58px;
    }

    h4 {
    	font-size: 16px;
    }

    footer .footer-links > li:last-child {
    	margin-left: 0px;
    }
}

@media screen and ( min-width : 768px ) {

    #blog-title-hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .blog-title {
        font-size: 44px;
    }

    .blog-post-wrapper:last-child {
    	border-bottom: none;
    	padding-bottom: 0;
    }

    .search-form {
    	margin-top: 20px;
    }

    .latest-posts, .categories {
        padding-top: 6px;
    }

    .latest-posts h3,
    .categories h3 {
        text-align: left;
        margin-bottom: 16px;
    }

    .comment-wrapper {
    	border-bottom: none;
    }
}

@media screen and ( min-width : 980px ) and ( max-width : 1199px ) {

    #hero h1 {
    	margin-top: -10px;
	    font-size: 88px;
    }

    #table {
    	height: 427px;
    }
}

/* Medium Devices, Desktops */
@media screen and ( min-width : 992px ) and ( max-width : 1199px ) {

    .navbar-inverse .navbar-nav > li.start-now-btn > a {
    	display: block;
    }

    #hero h1 {
    	margin-top: -10px;
    	font-size: 116px;
    }

    #table {
    	height: 522px;
    }

    #hours img {
    	width: initial;
    	display: block;
    	margin: 46px auto;
    }
}

@media screen and ( min-width : 992px ) {

    #blog-title-hero {
    	padding-top: 70px;
    	padding-bottom: 70px;
    }

    .blog-title {
        font-size: 50px;
    }
}

/* Large Devices, Wide Screens */
@media screen and ( min-width : 1200px ) {

    #table {
        height: 627px;
    }

    #team img {
        margin-left: 124px;
    }

    #blog-title-hero {
        margin-top: -110px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .form-control {
        width: 88%;
        height: 40px;
        font-size: 16px;
    }

    .search-form button {
        padding: 9px 14px;
    }

    .blog-post-wrapper a,
    .latest-posts,
    .categories {
	    font-size: 19px;
    }
}

/* === end media queries mobile-first === */
